@font-face {
  font-family: "Poppins";
  src: url("./poppins-regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("./poppins-medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("./poppins-semibold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("./poppins-bold.ttf");
  font-weight: 700;
}