.fish-animation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  overflow: hidden;
}

.fish-animation::before {
  content: "";
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  opacity: 0.75;
}

.fish-animation__fish {
  width: 100px;
  z-index: 1;
  position: absolute;
  animation: fish-animation 5s linear infinite;
}

@keyframes fish-animation {
  from, 10% {
    left: 0;
    transform: translateX(-100%);
  }

  90%, 100% {
    left: 100%;
    transform: none;
  }
}

.fish-animation__fin {
  animation: fish-animation-fin 0.2s linear infinite;
}

@keyframes fish-animation-fin {
  from, to {
    transform: none;
  }

  50% {
    transform: scaleX(0.8) translateX(6%);
  }
}