.accounts__header {
  min-height: 34px !important;
  border-bottom: none !important;
  margin-top: 20px;
  padding: 0 24px;
}

.accounts__header .branding {
  margin-left: 0 !important;
}

.accounts__header .branding > * {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.accounts__header .branding .logoText {
  font-size: 18px;
  font-weight: 500;
  color: var(--text);
  line-height: 1.3;
}

.account__section--steps {
  margin-bottom: 21px;
}

.logoText,
.logoText * {
  font-family: var(--font-family-title) !important;
}

.jxLJMJ {
  height: auto !important;
  overflow: initial !important;
  padding-bottom: 25px;
}

.accounts__header .searchBarWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  padding-left: 20px;
}

.accounts__header .searchBarWrapper .inputFilter {
  padding: 0 !important;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.accounts__header .searchBarWrapper .inputFilter .resetIcon {
  bottom: unset !important;
  top: unset !important;
  right: 27px !important;
}

.accounts__header .searchBarWrapper .inputFilter .resetIcon:hover {
  color: var(--danger);
}

.accounts__header .searchBarWrapper input {
  height: 34px !important;
  border: none;
  padding: 0 12px;
  padding-right: 37px;
  background-color: white;
  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.07);
  color: var(--text);
  font-size: 0.938rem;
  font-weight: 500;
  border-radius: 8px;
  margin-right: 15px;
  animation: accounts-search-input 0.25s;
  width: 100%;
}

@keyframes accounts-search-input {
  from {
    padding: 0;
    width: 0;
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0);
  }
}

.accounts__header .popupMenus .popupToggle {
  transition: all 0.15s;
}

.accounts__header .popupMenus .popupToggle svg,
.accounts__header .searchBarWrapper .searchIcon {
  transition: all 0.15s;
}

.accounts__header .popupMenus .popupToggle:hover svg,
.accounts__header .searchBarWrapper .searchIcon:hover {
  color: rgb(186, 36, 199);
}

.accounts__header .popupMenus .popupToggle:active,
.accounts__header .searchBarWrapper .searchIcon:active {
  transform: scale(1.2);
}

.accounts__header .popupMenus .popupToggle:last-child {
  margin-right: 5px !important;
}

.account-card__wrapper {
  width: 100%;
  border-radius: 15px;
  padding: 15px 10px;
  box-shadow: 10px 10px 20px -5px hsl( var(--bg--h),
              var(--bg--s), calc(var(--bg--l) - 10%) ),
              -10px -10px 15px -10px hsl( var(--bg--h),
              var(--bg--s), calc(var(--bg--l) + 10%) );
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: transparent;
  transition: all .125s;
  animation: account-card 0.25s;
}

.account-card__wrapper:hover {
  box-shadow: var(--neomorph-out-light),
              inset 7.5px 7.5px 15px -3.75px hsl(var(--bg--h),
              var(--bg--s),calc(var(--bg--l) - 7.5%)),
              inset -7.5px -7.5px 15px -3.75px hsl(var(--bg--h),var(--bg--s),
              calc(var(--bg--l) + 7.5%));
}

.account-card__wrapper--selected {
  box-shadow: inset 0 0 0 2px var(--primary),
    0 5px 20px -10px rgba(169, 49, 133, 0.25);
  background-color: rgba(169, 49, 133, 0.1);
}

.account-card__wrapper--exporting {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.account-card__wrapper--exporting .account-card__identicon--loading {
  display: none;
}

.account-card__wrapper--exporting .account-card__main {
  max-width: 100%;
  padding: 7px 0 0 12px;
}

.account-card__exporting {
  width: 100%;
  margin-top: 15px;
}

.account-card__exporting .movedWarning {
  border-left: none;
}

@keyframes account-card {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
}

.account-card + .account-card {
  margin-top: 15px;
}

.account-card__main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}

.account-card__identicon {
  border-radius: 50%;
  background-color: white;
}

.account-card__identicon:hover {
  cursor: pointer !important;
}

.account-card__identicon,
.account-card__identicon svg {
  width: 66px;
  min-width: 66px;
  height: 66px;
}

.account-card__identicon--loading{
  margin-right: 25px;
}

.account-card__info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
  padding: 1px 0;
  max-width: calc(100% - 81px);
  width: 100%;
  position: relative;
}

.account-card__name {
  font-size: 1rem;
  color: var(--text);
  font-weight: 600;
  line-height: 1.2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 100%;
  word-break: break-all;
}

.account-card__name--main,
.account-card__parent-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.account-card__name > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
}

.account-card__name svg {
  font-size: 0.875rem;
  transform: translateY(-1px);
  opacity: 0.75;
}

.account-card__name svg.hardwareIcon {
  transform: translateY(-1px) rotate(270deg);
  margin-right: -3px;
}

.account-card__name svg + * {
  margin-left: 6px;
}

.account-card__rename {
  position: relative !important;
  flex: unset !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
  padding-right: 15px;
}

.account-card__name .danger,
.account-card__name .belowInput {
  position: absolute;
  top: 20px;
  margin-top: 0 !important;
  left: 0;
  z-index: 1;
  width: 100% !important;
  max-width: calc(100% - 15px);
  background-color: white !important;
  border-left: none;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.07);
  border-radius: 0 0 10px 10px;
  line-height: 1.2;
}

.account-card__name .danger svg,
.account-card__name .belowInput svg {
  display: none;
}

.account-card__rename div {
  margin: 0;
}

.account-card__rename label {
  display: none;
}

.account-card__rename input {
  height: auto !important;
  padding: 0;
  margin: 0;
  background-color: transparent;
  outline: none;
  font-size: 1rem;
  color: var(--primary-text);
  font-weight: 600;
  line-height: 1.2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100% !important;
  border-radius: 0;
  border: none;
  border-bottom: dashed 1px var(--primary);
}

.account-card__parent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.875rem;
  color: var(--text-light);
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 2px;
  width: 100%;
  max-width: 20px;
}

.account-card__parent svg {
  margin-right: 5px;
  font-size: 15px;
  transform: translateY(-1px);
}

.account-card__parent .account-card__parent-name {
  display: none;
}

.account-card__parent:hover .account-card__parent-name {
  position: absolute;
  display: block;
  background: #eeebf6;
  width: 100%;
  max-width: calc(100% - 19px);
  height: 19px;
  margin-left: 20px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
  margin-top: -1px;
}

.dark-theme .account-card__parent:hover .account-card__parent-name {
  background: #2c2d33;
}

.account-card__meta-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}

.account-card__meta {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  max-width: 187px;
}

.account-card__meta + .account-card__meta {
  margin-top: 2px;
}

svg + .account-card__address {
  margin-left: 10px;
}

.account-card__address {
  font-size: 13px;
  line-height: 1.3;
  font-weight: 400;
  color: var(--text);
  white-space: nowrap;
  width: 100%;
}

.account-card__address label {
  width: 107px;
  cursor: pointer;
  display: inline-block;
}

.account-card__meta svg {
  margin-left: 5px;
  color: var(--text-light);
  cursor: pointer;
  transition: all 0.15s;
  transform: translateY(-1px);
}

.account-card__visibility {
  width: 17.5px !important;
  color: var(--text-light);
  cursor: pointer;
  transition: all 0.15s;
  margin-right: 7px;
}

.account-card__visibility--hidden {
  color: var(--danger) !important;
}

.account-card__meta:hover .account-card__address,
.account-card__meta:hover .account-card__visibility {
  color: var(--primary);
}

.pk-copy-btn{
  margin-left: 6px;
}

.pk-copy-btn:hover{
  color: var(--primary);
  cursor: pointer;
}

.account-card__meta:active svg,
.account-card__meta:hover svg
{
  color: var(--primary);
  transform: scale(1.075);
}

.account-card__aside {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.account-card__status {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  height: 28px;
}

.account-card__status img {
  width: 16px;
  margin-right: 6px;
}

.account-card__status div {
  font-size: 0.875rem;
  line-height: 1.2;
  font-weight: 700;
  color: #a93185;
  background: linear-gradient(to right, #a93185, #5531a9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateY(1px);
}

.dark-theme .account-card__status div {
  background: transparent;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
  color: #ff62ff;
  font-weight: 500;
}


.account-card__balance {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  max-width: 100%;
  overflow: hidden;
}

.account-card__select-btn,
.account-card__bind-btn {
  margin-right: 10px;
}

.account-card__select-btn--selected {
  pointer-events: none;
}

.account-card__actions {
  position: relative;
}

.account-card__actions-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  margin-right: -10px;
  color: var(--text-light);
  transition: all 0.15s;
}

.account-card__actions-btn:hover {
  color: var(--primary);
}

.account-card__actions-btn:active {
  color: var(--primary);
  transform: scale(1.3);
}

.account-card__actions-btn svg {
  font-size: 20px;
}

.account-card .movableMenu {
  margin-top: 0 !important;
}

.account-card__chain {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  font-size: 0.688rem;
  font-weight: 600;
  color: white;
  line-height: 1.1;
  padding: 4px 12px;
  border-radius: 0 15px 0 15px;
  background-color: var(--primary);
}

.dark-theme .accounts__header .branding .logoText {
  font-weight: 500;
}

.dark-theme .accounts__header .searchBarWrapper input {
  background-color: #2c2d33;
  box-shadow: 0 5px 10px -5px #1a1b20;
  color: white;
}

.dark-theme .account-card__wrapper {
  box-shadow: 0 5px 10px -5px #1a1b20;
  background-color: #2c2d33;
}

.dark-theme .account-card__wrapper--selected {
  box-shadow: inset 0 0 0 2px var(--primary),
    0 5px 10px -5px #1a1b20;
  background-color: rgba(169, 49, 133, 0.1);
}

.dark-theme .account-card__identicon {
  background-color: #373840;
}

.dark-theme .account-card__name {
  color: white;
  font-weight: 500;
  margin-bottom: 4px;
}

.dark-theme .account-card__rename input {
  color: #ff62ff;
  border-color: #ff62ff;
  font-weight: 500;
}

.dark-theme .account-card__parent {
  color: rgba(255, 255, 255, 0.6);
}

.dark-theme .account-card__address {
  color: rgba(255, 255, 255, 0.8);
}

.authorize__requests {
  height: 100vh;
  padding: 0 !important;
}

.authorize__request {
  height: calc(100% - 362px);
  position: absolute;
  background: var(--bg);
}

.dark-theme .authorize__request {
  background: #26272c;
}

.steps *::selection {
  background: transparent;
}
.steps > div {
  display: flex;
  align-items: center;
}
.steps__arrow {
  margin-left: 10px;
  cursor: pointer;
  font-size: 12px;
}
.steps__arrow:first-child {
  margin-right: 10px;
}

.authorize__request.request--top {
  left: 0;
  z-index: 2;
}

.authorize__request {
  transition: all ease-out 120ms;
  left: 100%;
  z-index: 1;
}