.nav-header {
  display: flex;
}

.logo-btn {
  width: 5rem;
  height: 3rem;
  border: none;
}

.accounts-chevron-down {
  width: 16px;
  height: 16px;
  margin-left: 0.3em;
}

.nav-content.nav-footer {
  position: absolute;
  justify-content: center;
  bottom: 0;
  width: 100vh;
  height: 4em;
}

.notification .navigation {
  display: none;
}
