@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

html, body, #root, .App {
  width: 100%;
  min-height: 100vh;
  color: #313a52;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.content {
  display: flex;
  padding: 2.5rem 3.5rem;
}

.nav-content {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

/* Footer WIP */
.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;

  background: #252a47;
  display: grid;
  place-items: center;
  padding: 50px;
}

.w-100 {
  width: 100%;
}

.title-font {
  font-family: 'Lato', sans-serif;
}

.text-bold {
  font-weight: 900;
}

.text-semi-bold {
  font-weight: 700;
}

.text-color-dark-accent {
  color: #76319b !important;
}

.text-color-dark {
  color: #313a52;
}

.text-color-disabled {
  color: grey;
}

.text-xs {
  font-size: 0.7em;
  font-weight: 400;
}

.main-content {
  background-color: #eeebf6;
}

svg.fill-white {
  fill: white;
}

.svg-w.fill-white svg {
  fill: white;
}

.svg-w {
  position: relative;

}

.svg-w svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}

.svg-w svg {
  fill: #76319b;
}

.mr-1 {
  margin-right: 1em;
}

.pl-1rem {
  padding-left: 1rem;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.d-flex-space-between {
  justify-content: space-between;
}

.d-flex-end {
  justify-content: end;
}

.d-flex-vert-center {
  align-items: center;
}

.d-flex-vert-base {
  align-items: baseline;
}

.radius-border {
  border-radius: 0.7em;
}

.button-light {
  border: none;
  background-color: #e6ddf0;
}

.text-center {
  text-align: center;
}

/*DASHBOARD*/

.dashboard_refresh-btn {
  padding: 0.2em 0.7em !important;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.dashboard_balance-txt {
  font-size: 3em;
}

.dashboard_actions_button {
  width: 5em;
  height: 5em;
  color: white;
}

.dashboard_actions_button_text {
  font-size: 0.8em;
}

.dashboard_actions_button-swap {
  background-color: #38a777;
  background: linear-gradient(90deg, rgba(60, 199, 139, 1) 0%, rgb(73, 179, 128) 100%);
}

.dashboard_actions_button-swap .svg-w {
  width: 1.5em;
  height: 1.5em;
  margin: auto;
}

.dashboard_actions_button-send {
  background-color: #00a6f5;
  background: linear-gradient(90deg, rgb(0, 166, 245) 0%, rgb(2, 153, 224) 100%);
}

.dashboard_actions_button-send .svg-w {
  width: 2em;
  height: 2em;
  margin: auto;
}

.dashboard_actions_button-buy {
  background-color: #bf37a7;
  background: linear-gradient(90deg, rgb(191, 55, 167) 0%, rgb(173, 51, 153) 100%);
}

.dashboard_actions_button-buy .svg-w {
  width: 1.7em;
  height: 1.7em;
  margin: auto;
}

.dashboard_actions_button-buy .svg-w svg path {
  fill: white;
}

/*TOKEN PILL*/

.token-balance-item_icon-text_w {
  height: 3em;
}

.token-balance-item {
  max-width: 26em;
  background-color: #f8f7fc;
  box-shadow: 0em 0em 0.3em #e6e3f3;
  padding: 1em;
  padding-right: 1.4em;
  margin-bottom: 2em;
}

.token-balance-item_icon-text {
  margin-right: 1em;
  display: flex;
  align-items: center;

}

.token-balance-item_icon-text img {
  /*max-height: 3.4em;
  max-width: 3.4em;*/
  height: 100%;
  max-height: 100%;
  width: auto;
}

.token-balance-item_balance-value-icon-w {
  width: 1.4em;
  height: 1.4em;
}

/*/////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

html, body, #root, .App {
  width: 100%;
  min-height: 100vh;
  color: #313a52;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.content {
  display: flex;
  padding: 2.5rem 3.5rem;
}

.nav-content {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

/* Footer WIP */
.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;

  background: #252a47;
  display: grid;
  place-items: center;
  padding: 50px;
}

.w-100 {
  width: 100%;
}

.title-font {
  font-family: 'Lato', sans-serif;
}

.text-bold {
  font-weight: 900;
}

.text-semi-bold {
  font-weight: 700;
}

.text-color-dark-accent {
  color: #76319b !important;
}

.text-color-dark {
  color: #313a52;
}

.text-color-disabled {
  color: grey;
}

.text-xs {
  font-size: 0.7em;
  font-weight: 400;
}

.main-content {
  background-color: #eeebf6;
}

svg.fill-white {
  fill: white;
}

.svg-w.fill-white svg {
  fill: white;
}

.svg-w {
  position: relative;

}

.svg-w svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}

.svg-w svg {
  fill: #76319b;
}

.mr-1 {
  margin-right: 1em;
}

.pl-1rem{
  padding-left: 1rem;
}

.d-flex {
  display: flex;
}

.d-flex-space-between {
  justify-content: space-between;
}

.d-flex-end {
  justify-content: end;
}

.d-flex-vert-center {
  align-items: center;
}

.d-flex-vert-base {
  align-items: baseline;
}

.radius-border {
  border-radius: 0.7em;
}

.button-light {
  border: none;
  background-color: #e6ddf0;
}

.text-center{
  text-align: center;
}



/*//////*/ /*NAV*/
.navigation {
  padding: 0 10px 0 20px !important;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 57px;
  min-height: 57px;
  max-height: 57px;
  background-color: #f3f0f9;
  box-shadow: 0 5px 10px -5px rgba(0,0,0,.1);
}
.navigation_menu-items {
  display: flex;
  margin: 0;
  align-items: center;
  list-style: none;
  font-size: small;
}
.navigation_menu-items_menu-item{
  margin-right: 2.5em;
  color: #8d8995;
  font-weight: 700;
}

.navigation_menu-items_menu-item_link{
  color: inherit;
  text-decoration: none;
}

.nav-account {
  background: linear-gradient( 0deg, rgb(250 248 255) 0%, rgb(217 211 235) 100%);
  height: 2.5em;
  background-color: #f3f0f8;
  box-shadow: 0.2em 0.2em 1.5em #a497d3;
  padding:0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.navigation + * {
  margin-top: 20px;
}

.navigation__links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin: 0 auto 0 20px;
}

.navigation__link {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  color: #898e9c;
  text-decoration: none;
  height: 39px;
  width: 41px;
  min-width: 41px;
  max-width: 41px;
  box-shadow: inset 0 5px 10px -3px rgba(0,0,0,.1),
    0 5px 10px -3px rgba(0,0,0,.1),
    inset 0 -5px 15px -5px white,
    0 -5px 15px 5px rgba(255,255,255,.75);
  border-radius: 10px;
  position: relative;
  z-index: 1;
  transition: all 0.125s;
}

.navigation__link + .navigation__link {
  margin-left: 8px;
}

.navigation__link-icon {
  font-size: 17px;
  transition: transform 0.125s;
}

.navigation__link-icon--plane {
  transform: translateX(-2px);
  font-size: 16px;
}

.navigation__link:hover,
.navigation__link:active {
  color: #a93185;
  background-color: white;
  box-shadow: 0 5px 10px -5px rgba(0,0,0,.2);
}

.navigation__link:active .navigation__link-icon {
  transform: scale(1.2);
}

.navigation__link:active .navigation__link-icon--plane {
  transform: translateX(-2px) scale(1.2);
}

.reef-logo {
  width: 62px;
}

.no-break-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.navigation__account {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  height: 45px;
  box-shadow: inset 0 5px 10px -3px rgba(0,0,0,.1),
    0 5px 10px -3px rgba(0,0,0,.1),
    inset 0 -5px 15px -5px white,
    0 -5px 15px 5px rgba(255,255,255,.75);
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0 0 0 15px;
  max-width: 270px;
}

.navigation__account-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 1px;
}

.navigation__account-name {
  font-size: 0.813rem;
  line-height: 1.2;
  font-weight: 600;
  color: #19233c;
  padding-top: 2px;
}

.navigation__account-address {
  font-size: 0.75rem;
  line-height: 1.2;
  font-weight: 500;
  color: #898e9c;
}

.navigation__account-tokens {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 35px;
  margin: 0 5px 0 13px;
  padding: 0 12px 0 14px;
  border-radius: 99px;
  background-color: rgba(255,255,255,0.65);
  box-shadow: 0 1px 6px -3px rgba(0,0,0,0.5),
    inset 0 2px 5px white;
}

.navigation__account-tokens-amount {
  font-size: 0.875rem;
  line-height: 1.1;
  font-weight: 900;
  color: #a93185;
  background: linear-gradient(to right, #a93185, #5531a9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateY(1px);
}

.navigation__account-tokens img {
  width: 19px;
  margin: 0 7px 0 -5px;
}

.navigation__account:hover {
  color: white;
  background: linear-gradient(to right, #a93185, #5531a9);
  box-shadow: 0 5px 20px -10px #5531a9;
}

.navigation__account:hover .navigation__account-tokens,
.navigation__account:active .navigation__account-tokens {
  box-shadow: none;
  background-color: transparent;
}

.navigation__account:hover .navigation__account-tokens-amount,
.navigation__account:active .navigation__account-tokens-amount {
  background: transparent;
  color: white;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
  font-weight: 500;
}

.navigation__account:hover .navigation__account-name,
.navigation__account:hover .navigation__account-address,
.navigation__account:active .navigation__account-name,
.navigation__account:active .navigation__account-address  {
  color: white;
  font-weight: 500;
}

.navigation__account:active {
  background: linear-gradient(to right, #d12fa1, #8b42b4);
  box-shadow: 0 5px 20px -10px #5531a9;
}